@model CarDealership.UI.Models.MakeViewModel
@{
    ViewBag.Title = "Make";
}

<h2>Makes</h2>
<hr />
<div id="borderDiv">
    @using (Html.BeginForm("Makes", "Admin", FormMethod.Post,
        new { @class = "form-horizontal", role = "form" }))
    {
        <div class="form-group row" style="padding-top:15px; padding-bottom:0px;padding-left:15px;">
            @Html.LabelFor(m => m.Make.Name, new { @class = "control-label", @style = "font-weight:bold;" })
            <div class="col-md-2">
                @Html.TextBoxFor(m => m.Make.Name, new { @class = "form-control", @Placeholder = "Enter make" })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.Make.Name)</span>
            </div>
            <div class="col-md-1">
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </div>
    }
</div>

<div class="row col-sm-8" style="padding-top:30px;">
    <table class="table table-hover table-bordered" id="UsersWithRoles">
        <thead class="thead-dark">
            <tr>
                <th>Make</th>
                <th>Date Added</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var make in Model.MakeList)
            {
                <tr>
                    <td>@make.Name</td>
                    <td>@make.DateAdded.Date.ToShortDateString()</td>
                    <td>@make.UserName</td>
                </tr>
            }
        </tbody>
    </table>

</div>