@model CarDealership.UI.Models.Contact
@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<hr />

<div class="row col-sm-12">
    <div class="col-sm-6">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()

            <div class="form-group">
                <label>Name</label>
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.Name)</span>
            </div>
            <div class="form-group">
                <label>Email</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.Email)</span>
            </div>
            <div class="form-group">
                <label>Phone</label>
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.Phone)</span>
            </div>
            <div class="form-group">
                <label>Message</label>
                @*@Html.TextAreaFor(m => m.Message, new { @class = "form-control", @Value = @ViewBag.Vin, @row = 3 })*@
                @Html.TextAreaFor(m => m.Message, new { @class = "form-control", @row = 3, @style = "resize: none;" })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.Message)</span>
            </div>
            @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-secondary" })
            <button class="btn btn-primary">Save</button>
        }
    </div>
    <div class="col-sm-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
    </div>
</div>
