@model CarDealership.UI.Models.InventoryReportViewModel
@{
    ViewBag.Title = "Inventory";
}

<h2>Inventory</h2>
<hr />

<h4>New Vehicles</h4>
<div class="col-sm-10">
    <table class="table table-hover table-bordered table-condensed table-striped" id="NewVehicleTable">
        <thead class="thead-dark">
            <tr>
                <th>Year</th>
                <th>Make</th>
                <th>Model</th>
                <th>Count</th>
                <th>Stock Value</th>
            </tr>
        </thead>

        @if (Model != null)
        {
            <tbody>
                @foreach (var item in Model.NewInventory)
                {
                    <tr>
                        <td>@item.Year</td>
                        <td>@item.Make</td>
                        <td>@item.Model</td>
                        <td>@item.Count</td>
                        <td>$@item.StockValue</td>
                    </tr>
                }
            </tbody>
        }
    </table>
</div>
<hr />

<h4>Old Vehicles</h4>
<div class="col-sm-10">
    <table class="table table-hover table-bordered table-condensed table-striped" id="OldVehicleTable">
        <thead class="thead-dark">
            <tr>
                <th>Year</th>
                <th>Make</th>
                <th>Model</th>
                <th>Count</th>
                <th>Stock Value</th>
            </tr>
        </thead>
        @if (Model != null)
        {
            <tbody>
                @foreach (var item in Model.OldInventory)
                {
                    <tr>
                        <td>@item.Year</td>
                        <td>@item.Make</td>
                        <td>@item.Model</td>
                        <td>@item.Count</td>
                        <td>$@item.StockValue</td>
                    </tr>
                }
            </tbody>
        }
    </table>
</div>

@section scripts {
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    @*<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">*@
    @*<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>*@

    <script type="text/javascript">
        $(document).ready(function () {
            $('#NewVehicleTable').DataTable();
            $('#OldVehicleTable').DataTable();
        });
    </script>
}
